name: Lint

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
  
    - name: Set up Python 3
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install Dependencies
      shell: bash
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r requirements-lint.txt
    - name: Lint
      shell: bash
      run: |
        pylint nomad/
        black --check -l 120 -t py311 nomad/
